heading {
  display: flex;
  align-items: center;
  gap: var(--hebcal-column-gap);
}

dl {
  display: grid;
  grid-template-columns: auto;
  align-items: end;
  margin: 0;
  gap:
    var(--hebcal-row-gap, 0.5em)
    var(--hebcal-column-gap, 1em);
}

@media (min-width: 400px) {
  dl {
    grid-template-columns: max-content auto;
  }
}

dl > div {
  display: contents;
  font-size: var(--size);
}

dt {
  justify-self: start;
}

dd {
  margin: 0;
  font-weight: bold;
}

.past :is(dt, dd) {
  opacity: 0.5;
}

.next {
  --size: var(--hebcal-next-zman-font-size, 120%);
}
