:host {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: max-content;
  row-gap:
    var(--hebcal-row-gap, 0.5em)
    var(--hebcal-column-gap, 1em);
}

h2 {
  grid-column: 1/-1;
}

